<div class="border rounded p-3 my-3">
	<div class="row">
		<div class="col-4">
			<div style="background-color:#0275d8; border-radius: 50%; width:70px; height:70px;"></div>
		</div>
		
		<div class="col-8 text-center">
			<h4 class="pt-2">@StopPoint.Name</h4>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public StopPoint StopPoint { get; set; }
}
