<div>
	<input class="form-control form-control-lg" type="text" placeholder="@InputPlaceholder" @oninput="UpdateResults" />
	@if(InputValue != string.Empty)
	{
		@foreach (KeyValuePair<string, string> result in GetResults())
		{
			<div class="border rounded m-1" @onclick="async()=>await OnResultClick(result.Value)">
				<div class="m-1">@result.Key</div>
				<div class="m-1">Numer przystanku: @result.Value</div>
			</div>
		}
	}
</div>

@code {
	private string InputValue = string.Empty;
	private Dictionary<string, string> GetResults() => TagValuePairs.Where(x => x.Key.Contains(InputValue)).ToDictionary(x => x.Key, x => x.Value);
	private void UpdateResults(ChangeEventArgs e)
	{
		InputValue = e.Value.ToString();
		StateHasChanged();
	}

	[Parameter]
	[EditorRequired]
	public Dictionary<string, string> TagValuePairs { get; set; }
	[Parameter]
	public string InputPlaceholder { get; set; } = "Search...";
	[Parameter]
	public EventCallback<string> ResultSelected { get; set; }
	private async Task OnResultClick(string resultText){

		InputValue = "";
		await ResultSelected.InvokeAsync(resultText);
	}
}
