<div>
	<input type="text" placeholder="@InputPlaceholder" @bind="InputValue"/>
		@foreach (KeyValuePair<string,string> result in TagValuePairs.Where(x=>x.Key.Contains(InputValue)))
		{
			<div @onclick="()=>OnResultClick(result.Value)">@result.Key</div>
		}
</div>

@code {
	private string InputValue;
	[Parameter]
	public string InputPlaceholder { get; set; } = "Search...";
	[Parameter]
	public Dictionary<string,string> TagValuePairs { get; set; }
	[Parameter]
	public EventCallback<string> ResultSelected { get; set; }
	private async Task OnResultClick(string resultText) => await ResultSelected.InvokeAsync(resultText);
}
