<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="navbar-nav mr-auto">
                <a href="/" class="nav-link nav-item">Strona główna</a>
                <a href="/StopPointsPage" class="nav-link nav-item">Przystanki</a>
                <a href="/Tickets" class="nav-link nav-item">Bilety</a>
                <a href="/LineVisualization" class="nav-link nav-item">Linie</a>
                <a href="/LoginPage" class="nav-link nav-item">Konto</a>
            </div>
            <span class="navbar-text">
                @DateTime.Now.ToString("yyyy-MM-dd")
            </span>
            <button class="btn btn-light col-2 ml-4 button-log-out">Wyloguj</button>
        </div>
    </div>
</nav>

@code {

}
