@page "/"
@inject IJSRuntime JS
<div class="container">
	<div class="row mt-5">
        <div class="col-6">
            <div class="card">
                <img src="MZKimage1.jpg" style="height:400px;" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Sprawdzaj trasy autobusów!</h4>
                    <p>
                        Sprawdź dokładną trasę autobusu, godziny jego odjazdów i wiele więcej!
                    </p>
                    <a href="#" class="btn btn-primary card-link">Zobacz</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="MZKimage2.jpg" style="height:400px;" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Sprawdzaj trasy autobusów!</h4>
                    <p>
                        Sprawdź dokładną trasę autobusu, godziny jego odjazdów i wiele więcej!
                    </p>
                    <a href="#" class="btn btn-primary card-link">Zobacz</a>
                </div>
            </div>
        </div>
	</div>
</div>
