@page "/LineVisualization";

<div class="container mt-4">
	<div class="row">
		<div class="col-8">
			@foreach (var item in linie.Lines)
			{
				<div class="border mt-3 p-2">
					@if (!item.Expanded)
					{
						<p class="col-12 mt-3" @onclick="async() => PrzelaczRozwiniecie(item)">@item.Name</p>
					}
					else
					{
						<div class="text-center">
							<p @onclick="() => PrzelaczRozwiniecie(item)">Linia @item.Name</p><br />
							<button class="btn btn-primary">Kup bilet</button>
						</div>
					}
				</div>
			}
		</div>



		<div class="col-4">
			@foreach (var x in StopPointsToDisplay.Content)
			{
				<BusWebApp.Components.DotBus StopPoint="@x" />
			}
		</div>
	</div>
</div>


@code {
	StopPointWrapper StopPointsToDisplay = new StopPointWrapper() { Content = new StopPoint[] { } };
	LinesWrapper linie = new LinesWrapper() { Lines = JsonService.Lines };

	private async void PrzelaczRozwiniecie(Line item)
	{
		bool czyExpandowac = item.Expanded ? false : true;
		foreach(var g in linie.Lines)
		{
			g.Expanded = false;
		}
		item.Expanded = czyExpandowac;
		StopPointsToDisplay.Content = await JsonService.GetStopsByCourse($"{item.Id}", false);
	}

}
